@model Repository.Models.Agent
@{
    ViewData["Title"] = "Create";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Yeni Agent</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Vəziyyəti</label>
                    <div class="custom-control custom-radio custom-control-inline ml-3">
                        <input type="checkbox" asp-for="Status" class="custom-control-input">
                        <label class="custom-control-label" asp-for="Status">Aktiv</label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Name">Ad</label>
                    <input class="form-control form-control-user slug-source" asp-for="Name">
                    <span class="field-validation-valid text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OfficePhone">Ofis nömrəsi</label>
                    <input class="form-control form-control-user slug-source" asp-for="OfficePhone">
                    <span class="field-validation-valid text-danger" asp-validation-for="OfficePhone"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MobilePhone">Mobil nömrə</label>
                    <input class="form-control form-control-user slug-source" asp-for="MobilePhone">
                    <span class="field-validation-valid text-danger" asp-validation-for="MobilePhone"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Fax">Faks</label>
                    <input class="form-control form-control-user slug-source" asp-for="Fax">
                    <span class="field-validation-valid text-danger" asp-validation-for="Fax"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email">E-poçt</label>
                    <input class="form-control form-control-user slug-source" asp-for="Email">
                    <span class="field-validation-valid text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Ətraflı</label>
                    <textarea class="form-control form-control-user slug-source" asp-for="Description"></textarea>
                    <span class="field-validation-valid text-danger" asp-validation-for="Description"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId">Xidmət</label>
                    <select asp-for="CategoryId">
                        <option selected disabled>Seçin</option>
                        @foreach (var item in ViewBag.Category)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <span class="field-validation-valid" asp-validation-for="CategoryId"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CityId">Şəhər</label>
                    <select asp-for="CityId">
                        <option selected disabled>Seçin</option>
                        @foreach (var item in ViewBag.Cities)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <span class="field-validation-valid" asp-validation-for="CityId"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AgencyId">Agentlik</label>
                    <select asp-for="AgencyId">
                        <option selected disabled>Seçin</option>
                        @foreach (var item in ViewBag.Agencies)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <span class="field-validation-valid" asp-validation-for="AgencyId"></span>
                </div>

                <div class="form-group gallery">
                    <label for="files" type="button" id="uploader" class="btn btn-secondary">Şəkil yüklə</label>
                    <input type="file" name="files" id="files" multiple="" class="d-none" accept="image/*">
                    <div class="photos"></div>
                </div>
                <div class="form-group d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-pencil-alt"></i>
                        </span>
                        <span class="text">Yarat</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

@section Scripts{
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(document).ready(function () {
            if ($("input[name='files']").length) {
                $("input[name='files']").change(function () {
                    for (var i = 0; i < this.files.length; i++) {
                        var formData = new FormData();
                        formData.append('file', this.files[i]);
                        $.ajax({
                            url: '/cities/upload',
                            type: 'POST',
                            data: formData,
                            processData: false,
                            contentType: false,
                            dataType: "json",
                            success: function (response) {
                                let index = $(".photos .item").length;
                                $(".photos").append(`<div class="item" style= "display:flex">
                                                    <input type="hidden" value="${ (index + 1)}" name="Photos[${index}].OrderBy" />
                                                    <input type="hidden" value="${response.filename}" name="Photo" />
                                                    <img src="${ response.src}" style="width:150px"/>
                                                    <a href="#" data-name="${  response.filename}" style="color:red" class="remove"><i class="fa fa-trash"></i></a>
                                                </div>`);
                            }
                        });
                        break;
                    }
                });
                $(document).on("click", ".photos .remove", function (ev) {
                    ev.preventDefault();
                    let elem = $(this).parents(".item");
                    $.ajax({
                        url: '/cities/remove',
                        data: {
                            name: $(this).data("name")
                        },
                        type: "post",
                        dataType: "json",
                        success: function (response) {
                            elem.remove();
                        }
                    });
                });
            }
        })
    </script>

}