@model IEnumerable<Agent>
@inject ICloudinaryService _cloudinaryService
@{ var datCat = "";}

@foreach (var item in Model)
{
    @foreach (var prop in item.Properties)
    {
        if (prop.PropFilter == Repository.Enums.PropFilter.Apartment)
        {
            datCat = "1";
        }
        else if (prop.PropFilter == Repository.Enums.PropFilter.House)
        {
            datCat = "2";
        }
        else
        {
            datCat = "4";
        }


    <div class="col-md-6 col-lg-4 filtr-item" data-category="@datCat" data-title="">

        <div class="card__image card__box-v1">
            <div class="card__image-header h-250">
                <div class="ribbon text-capitalize">önə çıxan</div>
                    @foreach (var photo in prop.PropImages)
                    {
                        <img src="@_cloudinaryService.BuildUrl(photo.Photo)" alt="" class="img-fluid w100 img-transition">
                        break;
                    }

                    <div class="info"> @prop.PropStatus</div>
                

            </div>
            <div class="card__image-body">
                <span class="badge badge-primary text-capitalize mb-2">@prop.PropFilter</span>
                <h6 class="text-capitalize">
                    <a asp-controller="property" asp-action="SingleProduct" asp-route-id="@item.CategoryId" asp-route-agentId="@item.Id" asp-route-propId="@prop.Id">

                        @prop.Name
                    </a>
                </h6>

                <p class="text-capitalize">
                    <i class="fa fa-map-marker"></i>
                    @prop.Adress
                </p>
                <ul class="list-inline card__content">
                    <li class="list-inline-item">

                        <span>
                           Hamam <br>
                            <i class="fa fa-bath"></i>@prop.BathCount
                        </span>
                    </li>
                    <li class="list-inline-item">
                        <span>
                            Yataq <br>
                            <i class="fa fa-bed"></i> @prop.BedCount
                        </span>
                    </li>
                    <li class="list-inline-item">
                        <span>
                            otaqlar <br>
                            <i class="fa fa-inbox"></i> @prop.RoomCount
                        </span>
                    </li>
                    <li class="list-inline-item">
                        <span>
                            ərazi <br>
                            <i class="fa fa-map"></i> @prop.Area
                        </span>
                    </li>
                </ul>
            </div>
            <div class="card__image-footer">
                <figure>
                    <img src="images/logo.jpg" alt="" class="img-fluid rounded-circle">
                </figure>
                <ul class="list-inline my-auto">
                    <li class="list-inline-item ">
                        <a href="#">
                            @item.Name
                        </a>

                    </li>

                </ul>
                <ul class="list-inline my-auto ml-auto">
                    <li class="list-inline-item">

                        <h6>$ @prop.Price</h6>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    }
}

