@model IEnumerable<Category>
@inject ICloudinaryService _cloudinaryService
@{
    ViewData["Title"] = "Property Page";
}
@{ var a = "";
    }

<!-- BREADCRUMB -->
<div class="bg-theme-overlay">

    <section class="section__breadcrumb ">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 text-center">
                    <h2 class="text-capitalize text-white ">Əmlaklar</h2>
                    <ul class="list-inline ">
                        <li class="list-inline-item">
                            <a asp-controller="home" asp-action="index" class="text-white">
                                ana səhifə
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a asp-controller="property" asp-action="index" class="text-white">
                                əmlaklar
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>

</div>
<!-- END BREADCRUMB -->
<!-- LISTING LIST -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">

                <!-- FORM FILTER -->
                <div class="products__filter mb-30">
                    <div class="products__filter__group">
                        <div class="products__filter__header">

                            <h5 class="text-center text-capitalize">Süzgəc</h5>
                        </div>
                        <div class="products__filter__body">
                            <div class="form-group">

                                <select class="wide select_option">
                                    <option data-display="Property Status">Mülkiyyət statusu</option>
                                    <option>Satılır</option>
                                    <option>Kirayə</option>

                                </select>
                            </div>
                            <div class="form-group">
                                <select class="wide select_option">
                                    <option data-display="Property Type">Mülkiyyət tipi</option>
                                    <option>Residential</option>
                                    <option>Commercial</option>
                                    <option>Land</option>
                                    <option>Luxury</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="wide select_option">
                                    <option data-display="Area From">Sahə başlayır </option>
                                    <option>1500</option>
                                    <option>1200</option>
                                    <option>900</option>
                                    <option>600</option>
                                    <option>300</option>
                                    <option>100</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="wide select_option">
                                    <option data-display="Locations">Ölkə</option>
                                    <option>United Kingdom</option>
                                    <option>American Samoa</option>
                                    <option>Belgium</option>
                                    <option>Canada</option>
                                    <option>Delaware</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="wide select_option">
                                    <option data-display="Bedrooms">Yataq otaqı</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <select class="wide select_option">
                                        <option data-display="Bathrooms">Hamam</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="mb-3">Price range</label>
                                <div class="filter__price">
                                    <input class="price-range" type="text" name="my_range" value="" />
                                </div>
                            </div>

                            <div class="form-group mb-0 mt-2">

                                <a class="btn btn-outline-primary btn-block text-capitalize advanced-filter"
                                   data-toggle="collapse" href="#multiCollapseExample1"
                                   aria-controls="multiCollapseExample1">
                                    <i class="fa fa-plus-circle"></i> advanced
                                    filter
                                </a>

                                <div class="collapse multi-collapse" id="multiCollapseExample1">
                                    <div class="advancedfilter">
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox2" type="checkbox">
                                            <label for="checkbox2" class="label-brand text-capitalize">
                                                Air Conditioning
                                            </label>

                                        </div>
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox3" type="checkbox">
                                            <label for="checkbox3" class="label-brand text-capitalize">
                                                Swiming Pool
                                            </label>

                                        </div>
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox4" type="checkbox">
                                            <label for="checkbox4" class="label-brand text-capitalize">
                                                Central Heating
                                            </label>

                                        </div>
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox5" type="checkbox">
                                            <label for="checkbox5" class="label-brand text-capitalize">
                                                Spa & Massage
                                            </label>

                                        </div>
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox6" type="checkbox">
                                            <label for="checkbox6" class="label-brand text-capitalize">
                                                Pets Allow
                                            </label>

                                        </div>
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox7" type="checkbox">
                                            <label for="checkbox7" class="label-brand text-capitalize">
                                                Air Conditioning
                                            </label>

                                        </div>

                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox8" type="checkbox">
                                            <label for="checkbox8" class="label-brand text-capitalize">
                                                Gym
                                            </label>

                                        </div>

                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox9" type="checkbox">
                                            <label for="checkbox9" class="label-brand text-capitalize">
                                                Alarm
                                            </label>

                                        </div>
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox10" type="checkbox">
                                            <label for="checkbox10" class="label-brand text-capitalize">
                                                Window Covering
                                            </label>

                                        </div>
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox11" type="checkbox">
                                            <label for="checkbox11" class="label-brand text-capitalize">
                                                Free WiFi
                                            </label>

                                        </div>
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox12" type="checkbox">
                                            <label for="checkbox12" class="label-brand text-capitalize">
                                                Car Parking
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="products__filter__footer">
                            <div class="form-group mb-0">
                                <button class="btn btn-primary text-capitalize btn-block">
                                    <i class="fa fa-search ml-1"></i> search
                                    property
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- END FORM FILTER -->
                <!-- ARCHIVE CATEGORY -->
                <div class=" wrapper__list__category">
                    <!-- CATEGORY -->
                    <div class="widget widget__archive">
                        <div class="widget__title">
                            <h5 class="text-dark mb-0 text-center">Kateqoriyalar</h5>
                        </div>
                        <vc:category></vc:category>
                    </div>
                    <!-- END CATEGORY -->
                </div>

            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tabs__custom-v2">
                            <!-- FILTER VERTICAL -->
                            <ul class="nav nav-pills myTab" role="tablist">
                                <li class="list-inline-item mr-auto">
                                    <span class="title-text">Sırala</span>
                                    <div class="btn-group">
                                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false">
                                            Xüsusiyyətlərə əsasən
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="javascript:void(0)">Qiymət ucuzdan bahaya</a>
                                            <a class="dropdown-item" href="javascript:void(0)">
                                                Qiymət bahadan ucuza
                                            </a>
                                            <a class="dropdown-item" href="javascript:void(0)">Satılır</a>

                                            <a class="dropdown-item" href="javascript:void(0)">Kirayə verilir</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pills-tab-one" data-toggle="pill" href="#pills-tab-one"
                                       role="tab" aria-controls="pills-tab-one" aria-selected="true">
                                        <span class="fa fa-th-list"></span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active pills-tab-two" data-toggle="pill"
                                       href="#pills-tab-two" role="tab" aria-controls="pills-tab-two"
                                       aria-selected="false">
                                        <span class="fa fa-th-large"></span>
                                    </a>
                                </li>
                            </ul>



                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade " id="pills-tab-one" role="tabpanel"
                                     aria-labelledby="pills-tab-one">
                                    @foreach (var category in Model)
                                    {

                                        @foreach (var item in category.Agents)
                                        {
                                            @foreach (var prop in item.Properties)
                                            {
                                                if (prop.PropStatus == Repository.Enums.PropStatus.Satılır)
                                                {

                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="card__image card__box-v1">
                                                                <div class="row no-gutters">
                                                                    <div class="col-md-4 col-lg-3 col-xl-4">
                                                                        <div class="card__image__header h-250">
                                                                            <a asp-controller="property" asp-action="singleproduct" asp-route-id="@category.Id" asp-route-agentId="@item.Id" asp-route-propId="@prop.Id">
                                                                                <div class="ribbon text-capitalize">
                                                                                    @if (prop.IsFeatured)
                                                                                    {
                                                                                        a = "Önə çıxan";
                                                                                        @a
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        if (prop.PropStatus == Repository.Enums.PropStatus.Satılır)
                                                                                        {
                                                                                            a = "Satılıb";
                                                                                            @a
                                                                                        }
                                                                                    }
                                                                                </div>
                                                                                @foreach (var img in prop.PropImages)
                                                                                {
                                                                                    <img src="@_cloudinaryService.BuildUrl(img.Photo)" alt=""
                                                                                         class="img-fluid w100 img-transition">
                                                                                    break;
                                                                                }

                                                                                <div class="info">@prop.PropStatus</div>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4 col-lg-6 col-xl-5 my-auto">
                                                                        <div class="card__image__body">

                                                                            <span class="badge badge-primary text-capitalize mb-2">@prop.PropFilter</span>
                                                                            <h6>
                                                                                <a href="#">@prop.Name</a>
                                                                            </h6>
                                                                            <div class="card__image__body-desc">
                                                                                <!-- <p class="text-capitalize">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, alias!

                                                </p> -->
                                                                                <p class="text-capitalize">
                                                                                    <i class="fa fa-map-marker"></i>
                                                                                    @prop.Adress
                                                                                </p>
                                                                            </div>

                                                                            <ul class="list-inline card__content">
                                                                                <li class="list-inline-item">

                                                                                    <span>
                                                                                        hamam oraqi <br>
                                                                                        <i class="fa fa-bath"></i> @prop.BathCount
                                                                                    </span>
                                                                                </li>
                                                                                <li class="list-inline-item">
                                                                                    <span>
                                                                                        yataq otaqi <br>
                                                                                        <i class="fa fa-bed"></i> @prop.BedCount
                                                                                    </span>
                                                                                </li>
                                                                                <li class="list-inline-item">
                                                                                    <span>
                                                                                        otaqlar <br>
                                                                                        <i class="fa fa-inbox"></i> @prop.RoomCount
                                                                                    </span>
                                                                                </li>
                                                                                <li class="list-inline-item">
                                                                                    <span>
                                                                                        sahə <br>
                                                                                        <i class="fa fa-map"></i>   @prop.Area
                                                                                    </span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4 col-lg-3 col-xl-3 my-auto card__image__footer-first">
                                                                        <div class="card__image__footer">
                                                                            <figure>
                                                                                <img src="images/logo.jpg" alt=""
                                                                                     class="img-fluid rounded-circle">
                                                                            </figure>
                                                                            <ul class="list-inline my-auto">
                                                                                <li class="list-inline-item name">
                                                                                    <a href="#">
                                                                                        @item.Name
                                                                                    </a>

                                                                                </li>


                                                                            </ul>
                                                                            <ul class="list-inline my-auto ml-auto price">
                                                                                <li class="list-inline-item ">
                                                                                        <p class="mb-0">  @prop.Price ₼</p>
                                                                                </li>

                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>


                                                }

                                            }

                                        }
                                    }


                                    <div class="clearfix"></div>

                                </div>
                                <div class="tab-pane fade show active" id="pills-tab-two" role="tabpanel"
                                     aria-labelledby="pills-tab-two" style="display:flex ; flex-wrap:wrap">
                                    @foreach (var category in Model)
                                    {

                                        @foreach (var item in category.Agents)
                                        {
                                            @foreach (var prop in item.Properties)
                                            {
                                                if (prop.PropStatus == Repository.Enums.PropStatus.Kirayə)
                                                {

                                                    <div class="col-md-6 col-lg-6 mt-4">
                                                        <!-- CARD IMAGE -->

                                                        <a asp-controller="property" asp-action="singleproduct" asp-route-id="@category.Id" asp-route-agentId="@item.Id" asp-route-propId="@prop.Id">
                                                            <div class="card__image-hover h-250">
                                                                <div class="card__image-hover-overlay">
                                                                    <div class="listing-badges">
                                                                        @if (prop.IsFeatured)
                                                                        {
                                                                            <span class="featured">
                                                                                Önə çıxan
                                                                            </span>
                                                                        }
                                                                        else
                                                                        {
                                                                            if (prop.PropStatus == Repository.Enums.PropStatus.Satılır)
                                                                            {
                                                                                <span class="featured">
                                                                                    Satılıb
                                                                                </span>
                                                                            }
                                                                        }

                                                                        <span>
                                                                            @prop.PropStatus
                                                                        </span>
                                                                    </div>
                                                                    <div class="card__image-content">
                                                                        <div class="card__image-content-desc">
                                                                            <h6> @prop.Name</h6>
                                                                            @if (prop.PropStatus == Repository.Enums.PropStatus.Satılır)
                                                                            {
                                                                                <p class="mb-0">  @prop.Price ₼</p>
                                                                            }
                                                                            else
                                                                            {
                                                                                <p class="mb-0">   @prop.Price ₼ / ayliq</p>
                                                                            }

                                                                        </div>
                                                                        <ul class="list-inline card__hidden-content">
                                                                            <li class="list-inline-item">
                                                                                Hamam
                                                                                <span>
                                                                                    <i class="fa fa-bath"></i> @prop.BathCount
                                                                                </span>
                                                                            </li>
                                                                            <li class="list-inline-item">
                                                                                Yataq otagi
                                                                                <span>
                                                                                    <i class="fa fa-bed"></i> @prop.BedCount
                                                                                </span>
                                                                            </li>
                                                                            <li class="list-inline-item">
                                                                                Otaqlar
                                                                                <span>
                                                                                    <i class="fa fa-inbox"></i> @prop.RoomCount
                                                                                </span>
                                                                            </li>
                                                                            <li class="list-inline-item">
                                                                                Sahə
                                                                                <span>
                                                                                    <i class="fa fa-map"></i>    @prop.Area
                                                                                </span>
                                                                            </li>

                                                                        </ul>
                                                                    </div>
                                                                    @foreach (var image in prop.PropImages)
                                                                    {
                                                                        <img alt="" src="@_cloudinaryService.BuildUrl(image.Photo)"
                                                                             class="img-fluid w100 img-transition">
                                                                        break;
                                                                    }

                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>

                                                }


                                            }
                                        }
                                    }

                                    <div class="cleafix"></div>
                                </div>



                            </div>
                            <!-- END FILTER VERTICAL -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- END LISTING LIST -->