@model IEnumerable<Category>
@inject ICloudinaryService _cloudinaryService
@{
    ViewData["Title"] = "Property Page";
}
@{ var a = "";
}

<!-- BREADCRUMB -->
<div class="bg-theme-overlay">

    <section class="section__breadcrumb ">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 text-center">
                    <h2 class="text-capitalize text-white ">Əmlaklar</h2>
                    <ul class="list-inline ">
                        <li class="list-inline-item">
                            <a asp-controller="home" asp-action="index" class="text-white">
                                ana səhifə
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a asp-controller="property" asp-action="index" class="text-white">
                                əmlaklar
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>

</div>
<!-- END BREADCRUMB -->
<!-- LISTING LIST -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">

                <!-- FORM FILTER -->

                    <div class="products__filter mb-30">
                        <div class="products__filter__group">
                            <div class="products__filter__header">

                                <h5 class="text-center text-capitalize">Süzgəc</h5>
                            </div>
                            <div class="products__filter__body">
                                <div class="form-group">
                                    <select required id="propStatus" class="wide select_option">
                                        <option selected disabled value="" data-display="Mulkiyyet statusu">Mülkiyyət statusu</option>
                                        <option value="Satılır">Satılır</option>
                                        <option value="Kirayə">Kirayə</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select id="propType" class="wide select_option">
                                        <option selected disabled value="" data-display="Mülkiyyət tipi">Mülkiyyət tipi</option>
                                        <option value="Mənzil" >Mənzil</option>
                                        <option value="Ev">Ev</option>
                                        <option value="Ofis">Ofis</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select id="propArea" class="wide select_option">
                                        <option selected disabled value="" data-display="Sahə başlayır">Sahə başlayır </option>
                                        <option value="1500">1500</option>
                                        <option value="1200">1200</option>
                                        <option value="900">900</option>
                                        <option value="600">600</option>
                                        <option value="300">300</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select id="propBed" class="wide select_option">
                                        <option selected disabled data-display="Yataq otağı">Yataq otaqı</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="form-group">
                                        <select id="propBath" class="wide select_option">
                                            <option selected disabled data-display="Hamam otağı">Hamam</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="mb-3">Qiymət aralığı</label>
                                    <div class="filter__price">
                                        <input id="propPrise" class="price-range" type="text" name="my_range" value="" />
                                    </div>
                                </div>

                                <div class="form-group mb-0 mt-2">

                                    <a class="btn btn-outline-primary btn-block text-capitalize advanced-filter"
                                       data-toggle="collapse" href="#multiCollapseExample1"
                                       aria-controls="multiCollapseExample1">
                                        <i class="fa fa-plus-circle"></i> ətraflı
                                        filter
                                    </a>

                                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                                        <div class="advancedfilter">
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox2" type="checkbox">
                                                <label for="checkbox2" class="label-brand text-capitalize">
                                                    Havalandırma
                                                </label>

                                            </div>
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox3" type="checkbox">
                                                <label for="checkbox3" class="label-brand text-capitalize">
                                                    Hovuz
                                                </label>

                                            </div>
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox4" type="checkbox">
                                                <label for="checkbox4" class="label-brand text-capitalize">
                                                    İstilik sistemi
                                                </label>

                                            </div>
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox5" type="checkbox">
                                                <label for="checkbox5" class="label-brand text-capitalize">
                                                    Masaj salonu
                                                </label>

                                            </div>
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox6" type="checkbox">
                                                <label for="checkbox6" class="label-brand text-capitalize">
                                                    Heyvan icazəsi
                                                </label>

                                            </div>

                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox8" type="checkbox">
                                                <label for="checkbox8" class="label-brand text-capitalize">
                                                    İdman zalı
                                                </label>

                                            </div>

                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox9" type="checkbox">
                                                <label for="checkbox9" class="label-brand text-capitalize">
                                                    Siqnalizasiya
                                                </label>

                                            </div>
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox11" type="checkbox">
                                                <label for="checkbox11" class="label-brand text-capitalize">
                                                    Pulsuz Wifi
                                                </label>

                                            </div>
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox12" type="checkbox">
                                                <label for="checkbox12" class="label-brand text-capitalize">
                                                    Qaraj
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="products__filter__footer">
                                <div class="form-group mb-0">
                                    <button id="propFilter" class="btn btn-primary text-capitalize btn-block">
                                        <i class="fa fa-search ml-1"></i> Mülk axtar
                                    </button>

                                </div>
                            </div>
                        </div>

                    </div>
                <!-- END FORM FILTER -->
                <!-- ARCHIVE CATEGORY -->
                <div class=" wrapper__list__category">
                    <!-- CATEGORY -->
                    <div class="widget widget__archive">
                        <div class="widget__title">
                            <h5 class="text-dark mb-0 text-center">Kateqoriyalar</h5>
                        </div>
                        <vc:category></vc:category>
                    </div>
                    <!-- END CATEGORY -->
                </div>

            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tabs__custom-v2">
                            <!-- FILTER VERTICAL -->
                            <ul class="nav nav-pills myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link pills-tab-one" data-toggle="pill" href="#pills-tab-one"
                                       role="tab" aria-controls="pills-tab-one" aria-selected="true">
                                        <span class="fa fa-th-list"></span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active pills-tab-two" data-toggle="pill"
                                       href="#pills-tab-two" role="tab" aria-controls="pills-tab-two"
                                       aria-selected="false">
                                        <span class="fa fa-th-large"></span>
                                    </a>
                                </li>
                            </ul>



                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade " id="pills-tab-one" role="tabpanel"
                                     aria-labelledby="pills-tab-one">
                                    @foreach (var category in Model)
                                    {

                                        @foreach (var item in category.Agents)
                                        {
                                            @foreach (var prop in item.Properties)
                                            {
                                                if (prop.PropStatus == Repository.Enums.PropStatus.Satılır)
                                                {

                                                    <div class="row property">
                                                        <div class="col-lg-12">
                                                            <div class="card__image card__box-v1">
                                                                <div class="row no-gutters">
                                                                    <div class="col-md-4 col-lg-3 col-xl-4">
                                                                        <div class="card__image__header h-250">
                                                                            <a asp-controller="property" asp-action="singleproduct" asp-route-id="@category.Id" asp-route-agentId="@item.Id" asp-route-propId="@prop.Id">
                                                                                <div class="ribbon text-capitalize">
                                                                                    @if (prop.IsFeatured)
                                                                                    {
                                                                                        a = "Önə çıxan";
                                                                                        @a
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        if (prop.PropStatus == Repository.Enums.PropStatus.Satılır)
                                                                                        {
                                                                                            a = "Satılıb";
                                                                                            @a
                                                                                        }
                                                                                    }
                                                                                </div>
                                                                                @foreach (var img in prop.PropImages)
                                                                                {
                                                                                    <img src="@_cloudinaryService.BuildUrl(img.Photo)" alt=""
                                                                                         class="img-fluid w100 img-transition">
                                                                                    break;
                                                                                }

                                                                                <div class="info propStatus">@prop.PropStatus</div>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4 col-lg-6 col-xl-5 my-auto">
                                                                        <div class="card__image__body">

                                                                            <span class="badge badge-primary text-capitalize mb-2">@prop.PropFilter</span>
                                                                            <h6>
                                                                                <a href="#">@prop.Name</a>
                                                                            </h6>
                                                                            <div class="card__image__body-desc">
                                                                                <!-- <p class="text-capitalize">
                                                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, alias!

                                                                                </p> -->
                                                                                <p class="text-capitalize">
                                                                                    <i class="fa fa-map-marker"></i>
                                                                                    @prop.Adress
                                                                                </p>
                                                                            </div>

                                                                            <ul class="list-inline card__content">
                                                                                <li class="list-inline-item">

                                                                                    <span>
                                                                                        hamam oraqi <br>
                                                                                        <i class="fa fa-bath"></i> @prop.BathCount
                                                                                    </span>
                                                                                </li>
                                                                                <li class="list-inline-item">
                                                                                    <span>
                                                                                        yataq otaqi <br>
                                                                                        <i class="fa fa-bed"></i> @prop.BedCount
                                                                                    </span>
                                                                                </li>
                                                                                <li class="list-inline-item">
                                                                                    <span>
                                                                                        otaqlar <br>
                                                                                        <i class="fa fa-inbox"></i> @prop.RoomCount
                                                                                    </span>
                                                                                </li>
                                                                                <li class="list-inline-item">
                                                                                    <span>
                                                                                        sahə <br>
                                                                                        <i class="fa fa-map"></i>   @prop.Area
                                                                                    </span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4 col-lg-3 col-xl-3 my-auto card__image__footer-first">
                                                                        <div class="card__image__footer">
                                                                            <figure>
                                                                                <img src="images/logo.jpg" alt=""
                                                                                     class="img-fluid rounded-circle">
                                                                            </figure>
                                                                            <ul class="list-inline my-auto">
                                                                                <li class="list-inline-item name">
                                                                                    <a href="#">
                                                                                        @item.Name
                                                                                    </a>

                                                                                </li>


                                                                            </ul>
                                                                            <ul class="list-inline my-auto ml-auto price">
                                                                                <li class="list-inline-item ">
                                                                                    <p class="mb-0">  @prop.Price ₼</p>
                                                                                </li>

                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>


                                                }

                                            }

                                        }
                                    }


                                    <div class="clearfix"></div>

                                </div>
                                <div class="tab-pane fade show active" id="pills-tab-two" role="tabpanel"
                                     aria-labelledby="pills-tab-two" style="display:flex ; flex-wrap:wrap">
                                    @foreach (var category in Model)
                                    {

                                        @foreach (var item in category.Agents)
                                        {
                                            @foreach (var prop in item.Properties)
                                            {
                                                if (prop.PropStatus == Repository.Enums.PropStatus.Kirayə)
                                                {

                                                    <div class="col-md-6 col-lg-6 mt-4 property2">
                                                        <!-- CARD IMAGE -->

                                                        <a asp-controller="property" asp-action="singleproduct" asp-route-id="@category.Id" asp-route-agentId="@item.Id" asp-route-propId="@prop.Id">
                                                            <div class="card__image-hover h-250">
                                                                <div class="card__image-hover-overlay">
                                                                    <div class="listing-badges">
                                                                        @if (prop.IsFeatured)
                                                                        {
                                                                            <span class="featured">
                                                                                Önə çıxan
                                                                            </span>
                                                                        }
                                                                        else
                                                                        {
                                                                            if (prop.PropStatus == Repository.Enums.PropStatus.Satılır)
                                                                            {
                                                                                <span class="featured">
                                                                                    Satılıb
                                                                                </span>
                                                                            }
                                                                        }

                                                                        <span class="propStatus">
                                                                            @prop.PropStatus
                                                                        </span>
                                                                    </div>
                                                                    <div class="card__image-content">
                                                                        <div class="card__image-content-desc">
                                                                            <h6> @prop.Name</h6>
                                                                            @if (prop.PropStatus == Repository.Enums.PropStatus.Satılır)
                                                                            {
                                                                                <p class="mb-0">  @prop.Price ₼</p>
                                                                            }
                                                                            else
                                                                            {
                                                                                <p class="mb-0">   @prop.Price ₼ / ayliq</p>
                                                                            }

                                                                        </div>
                                                                        <ul class="list-inline card__hidden-content">
                                                                            <li class="list-inline-item">
                                                                                Hamam
                                                                                <span>
                                                                                    <i class="fa fa-bath"></i> @prop.BathCount
                                                                                </span>
                                                                            </li>
                                                                            <li class="list-inline-item">
                                                                                Yataq otagi
                                                                                <span>
                                                                                    <i class="fa fa-bed"></i> @prop.BedCount
                                                                                </span>
                                                                            </li>
                                                                            <li class="list-inline-item">
                                                                                Otaqlar
                                                                                <span>
                                                                                    <i class="fa fa-inbox"></i> @prop.RoomCount
                                                                                </span>
                                                                            </li>
                                                                            <li class="list-inline-item">
                                                                                Sahə
                                                                                <span>
                                                                                    <i class="fa fa-map"></i>    @prop.Area
                                                                                </span>
                                                                            </li>

                                                                        </ul>
                                                                    </div>
                                                                    @foreach (var image in prop.PropImages)
                                                                    {
                                                                        <img alt="" src="@_cloudinaryService.BuildUrl(image.Photo)"
                                                                             class="img-fluid w100 img-transition">
                                                                        break;
                                                                    }

                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>

                                                }


                                            }
                                        }
                                    }

                                    <div class="cleafix"></div>
                                </div>



                            </div>
                            <!-- END FILTER VERTICAL -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- END LISTING LIST -->

@section Scripts {
    <script>
       
        
        window.onload = function () {
           
            
            document.getElementById("propFilter").addEventListener("click", function () {
                var propStatus = document.getElementById("propStatus");
                var propType = document.getElementById("propType");
                var propArea = document.getElementById("propArea")
                var properties = document.querySelectorAll(".property");
                var properties2 = document.querySelectorAll(".property2");
                var propBed = document.getElementById("propBed");

                if (propStatus.value == "") {
                    properties.forEach(x => x.hidden = false)
                    properties2.forEach(x => x.hidden = false)
                    return;
                }
                if (propStatus.value == "Satılır" && propType == "") {
                    properties2.forEach(x => x.hidden = true)
                    properties.forEach(x => x.hidden = false)
                    return;
                }
                if (propStatus.value == "Kirayə") {
                    properties2.forEach(x => x.hidden = false)
                    properties.forEach(x => x.hidden = true)
                    return;
                }
                if (propArea.value == "") {
                    properties2.forEach(x => x.hidden = false)
                    properties.forEach(x => x.hidden = false)
                    return;
                }
                if (propBed.value == "") {
                    properties2.forEach(x => x.hidden = false)
                    properties.forEach(x => x.hidden = false)
                    return;
                }
                properties.forEach(function (x) {
                    if (x.firstElementChild.firstElementChild.firstElementChild.childNodes[3].firstElementChild.firstElementChild.textContent == propType.value && parseInt(x.firstElementChild.firstElementChild.firstElementChild.childNodes[3].firstElementChild.childNodes[7].lastElementChild.firstElementChild.childNodes[4].textContent) >= parseInt(propArea.value)) {
                        x.hidden = false
                    } else {
                        x.hidden = true
                    }
                });
                properties2.forEach(function (x) {
                    
                    if (parseInt(x.firstElementChild.firstElementChild.firstElementChild.childNodes[3].lastElementChild.lastElementChild.firstElementChild.childNodes[2].textContent) >= parseInt(propArea.value)) {
                        x.hidden = false
                    } else {
                        x.hidden = true
                    }

                });

                })
                    


        }
       
    </script>

} 