@model BlogPhase
@inject ICloudinaryService _cloudinaryService
@{
    ViewData["Title"] = "BlogSingle";
}

<!-- LISTING LIST -->
@foreach (var blog in Model.Blogs)
{
    if (ViewBag.BlogId == blog.Id)
    {
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="single__blog-detail">
                            <h1>
                                @blog.Title
                            </h1>

                            <div class="single__blog-detail-info">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <figure class="image-profile">
                                            <img src="~/images/profile-blog.jpg" class="img-fluid" alt="">
                                        </figure>
                                    </li>
                                    <li class="list-inline-item">

                                        <span>
                                            by
                                        </span>
                                        <a href="#">
                                            @Model.Name,
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <span class="text-dark text-capitalize ml-1">
                                            @blog.CreatedAt.ToString("yyyy-MM-dd")
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <figure>
                                <img src="@_cloudinaryService.BuildUrl(blog.Image)" class="img-fluid" alt="">
                            </figure>

                            @Html.Raw(blog.Text)

                            <!-- BLOCKQUOTE -->
                            <blockquote class="block-quote">
                                <p>
                                    @Model.Phase
                                </p>
                                <cite>
                                    @Model.Name
                                </cite>
                            </blockquote>
                            <!-- END BLOCKQUOTE -->

                            @Html.Raw(blog.EndText)



                            <!-- TAGS -->
                            <div class="blog__tags mb-4 mt-4 d-block">
                                <ul class="list-inline">
                                    @foreach (var tag in blog.BlogTagRelates)
                                    {
                                        <li class="list-inline-item">
                                            <a href="#">
                                                #@tag.BlogTag.Name
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <!-- END TAGS -->
                            <!-- AUTHOR -->
                            <!-- Profile author -->
                            <div class="wrap__profile">
                                <div class="wrap__profile-author">
                                    <figure>
                                        <img src="~/images/profile-blog.jpg" alt="" class="img-fluid img-circle">
                                    </figure>
                                    <div class="wrap__profile-author-detail">
                                        <div class="wrap__profile-author-detail-name">author</div>
                                        <h5>@Model.Name</h5>
                                        <p>
                                            Hi, nice to meet you let me introduce for you, I am Jhon Doe freelancer designer
                                            & web programmer from
                                            indonesia,
                                            base lampung
                                        </p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a href="#" class="btn btn-social btn-social-o facebook ">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#" class="btn btn-social btn-social-o twitter ">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#" class="btn btn-social btn-social-o instagram ">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#" class="btn btn-social btn-social-o telegram ">
                                                    <i class="fa fa-telegram"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#" class="btn btn-social btn-social-o linkedin ">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- END AUTHOR -->


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single_navigation-prev">
                                        @foreach (var item in Model.Blogs)
                                        {
                                            if (item.Id == ViewBag.BlogId - 1)
                                            {
                                                <a asp-controller="blog" asp-action="blogsingle" asp-route-Id="@Model.Id" asp-route-BlogId="@item.Id">
                                                    <span>Əvvəlki</span>
                                                    @item.Title
                                                </a>
                                            }

                                        }
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_navigation-next text-left text-md-right">
                                        @foreach (var item in Model.Blogs)
                                        {
                                            if (item.Id == ViewBag.BlogId + 1)
                                            {
                                                <a asp-controller="blog" asp-action="blogsingle" asp-route-Id="@Model.Id" asp-route-BlogId="@item.Id">
                                                    <span>Növbəti</span>
                                                    @item.Title
                                                </a>
                                            }

                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <h6>@blog.BlogReviews.Count() Komment:</h6>
                            <!-- COMMENTS -->

                            <div class="single__detail-features-review">
                                @foreach (var review in blog.BlogReviews)
                                {
                                    <div class="media mt-4">
                                        <img class="mr-3 img-fluid rounded-circle" src="~/images/profile-blog.jpg" alt="">
                                        <div class="media-body">
                                            <h6 class="mt-0">@review.Name</h6>
                                            <span class="mb-3">@review.CreatedAt.ToString("yyyy-MM-dd")</span>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    @for (int z = 0; z < review.Star; z++)
                                                    {
                                                        <i class="fa fa-star selected"></i>
                                                    }

                                                    @for (int z = review.Star; z < 5; z++)
                                                    {
                                                        <i class="fa fa-star"></i>
                                                    }

                                                </li>
                                                <li class="list-inline-item">@review.Star/5</li>
                                            </ul>
                                            <p>
                                                @review.Comment
                                            </p>
                                        </div>
                                    </div>
                                }
                                <!-- COMMENT -->
                                <hr>
                                <form method="post">
                                    <input asp-for="Phase" value="@Model.Id" type="hidden" />
                                    <input asp-for="ModifiedBy" value="@blog.Id" type="hidden" />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="mb-2">Reytinqiniz:</p>
                                            <select asp-for="Id">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                            <span class="field-validation-valid text-danger" asp-validation-for="Id"></span>
                                            <div class="form-group mt-2">
                                                <label>Sizin adınız</label>
                                                <input type="text" class="form-control" required="required" asp-for="CreatedBy">
                                                <span class="field-validation-valid text-danger" asp-validation-for="CreatedBy"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Mesajınız</label>
                                                <textarea class="form-control" rows="4" asp-for="Name"></textarea>
                                                <span class="field-validation-valid text-danger" asp-validation-for="Name"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary float-right ">
                                        Göndər <i class="fa fa-paper-plane ml-2"></i>
                                    </button>
                                    <!-- END COMMENT -->
                                </form>

                            </div>
                            <!-- END COMMENTS -->
                        </div>
                    </div>
                    <!-- WIDGET BLOG -->
                    <div class="col-lg-4">
                        <div class="sticky-top">
                            <aside>
                                <div class="widget__sidebar">
                                    <div class="widget__sidebar__header">
                                        <h6 class="text-capitalize">Kateqoriyalar</h6>
                                    </div>
                                    <div class="widget__sidebar__body">
                                       <vc:category></vc:category>
                                    </div>

                                </div>
                            </aside>
                            <aside>
                            <vc:latest-blog></vc:latest-blog>
                            </aside>
                            <aside>
                                <div class="widget__sidebar">
                                    <div class="widget__sidebar__header">
                                        <h6 class="text-capitalize">tags</h6>
                                    </div>
                                    <div class="widget__sidebar__body">
                                        <div class="blog__tags p-0">
                                            <ul class="list-inline">

                                                <li class="list-inline-item">
                                                    <a href="#">
                                                        #property
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">
                                                        #wfh
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">
                                                        #estate
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">
                                                        #real estate
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">
                                                        #listing
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">
                                                        #rent
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">
                                                        #sell
                                                    </a>
                                                </li>

                                                <li class="list-inline-item">
                                                    <a href="#">
                                                        #family
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">
                                                        #happy
                                                    </a>
                                                </li>

                                                <li class="list-inline-item">
                                                    <a href="#">
                                                        #agents
                                                    </a>
                                                </li>

                                                <li class="list-inline-item">
                                                    <a href="#">
                                                        #promo
                                                    </a>
                                                </li>


                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
                <!-- END WIDGET BLOG -->
            </div>
        </section>

    }
}

<!-- END LISTING LIST -->
@section Head{
    <!-- SPECIFIC CSS -->
    <link href="~/css/stylesbd04.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}