@model IEnumerable<Category>
@inject ICloudinaryService _cloudinaryService
@{
    ViewData["Title"] = "Agency Page";
}
@{
    var count = 0;
}
<!-- BREADCRUMB -->
<div class="bg-theme-overlay">
    <section class="section__breadcrumb ">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 text-center">
                    <h2 class="text-capitalize text-white ">Agentliklər</h2>
                    <ul class="list-inline ">
                        <li class="list-inline-item">
                            <a asp-controller="home" asp-action="index" class="text-white">
                                ana səhifə
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a asp-controller="agency" asp-action="index" class="text-white">
                                agentliklər
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- END BREADCRUMB -->
<!-- LISTING LIST -->
<section>
    <div class="profile__agency">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <!-- ARCHIVE CATEGORY -->
                    <div class=" wrapper__list__category ">
                        <!-- CATEGORY -->
                        <div class="widget widget__archive">
                            <div class="widget__title">
                                <h5 class="text-dark mb-0 text-center">Kateqoriyalar</h5>
                            </div>
                            <vc:category></vc:category>
                        </div>
                        <!-- END CATEGORY -->
                    </div>

                </div>
                <div class="col-lg-8">
                    <div class="row no-gutters">
                        @foreach (var cat in Model)
                        {

                            @foreach (var item in cat.Agencies)
                            {
                                count += 1;
                                var propCount = 0;
                                var style = "";
                                if (count > 3)
                                {
                                    style = "d-none";
                                }
                                else
                                {
                                    style = "";
                                }
                                <div class="col-lg-12 mt-0 @style">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6">
                                            <a asp-controller="agency" asp-action="singleagency" asp-route-id="@cat.Id" asp-route-agencyId="@item.Id" class="profile__agency-logo">
                                                <img src="@_cloudinaryService.BuildUrl(item.Logo)" alt="" class="img-fluid">
                                                @foreach (var agent in item.Agents)
                                                {
                                                    propCount += agent.Properties.Count();
                                                }
                                            </a>
                                            <div class="total__property-agent">@propCount Mülk</div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 my-auto">
                                            <div class="profile__agency-info">
                                                <h5 class="text-capitalize">
                                                    <a href="#" target="_blank">@item.Name</a>
                                                </h5>
                                                <p class="text-capitalize mb-1">
                                                    @item.Adress
                                                </p>

                                                <ul class="list-unstyled mt-2">
                                                    <li>
                                                        <a href="#" class="text-capitalize">
                                                            <span>
                                                                <i class="fa fa-building"></i> ofis :
                                                            </span> @item.OfficePhone
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="text-capitalize">
                                                            <span>
                                                                <i class="fa fa-phone"></i> mobil :
                                                            </span> @item.MobilePhone
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="text-capitalize">
                                                            <span>
                                                                <i class="fa fa-fax"></i>
                                                                fax :
                                                            </span> @item.Fax
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="text-capitalize">
                                                            <span>
                                                                <i class="fa fa-envelope"></i> email :
                                                            </span>
                                                            @item.Email
                                                        </a>
                                                    </li>
                                                </ul>
                                                <p class="mb-0 mt-3">
                                                    <button class="btn btn-social btn-social-o facebook mr-1">
                                                        <i class="fa fa-facebook-f"></i>
                                                    </button>
                                                    <button class="btn btn-social btn-social-o twitter mr-1">
                                                        <i class="fa fa-twitter"></i>
                                                    </button>

                                                    <button class="btn btn-social btn-social-o linkedin mr-1">
                                                        <i class="fa fa-linkedin"></i>
                                                    </button>
                                                    <button class="btn btn-social btn-social-o instagram mr-1">
                                                        <i class="fa fa-instagram"></i>
                                                    </button>

                                                    <button class="btn btn-social btn-social-o youtube mr-1">
                                                        <i class="fa fa-youtube"></i>
                                                    </button>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                        @if (count > 3)
                        {
                            <button type="button" class="btn btn-primary mt-3" id="moreProp"> Daha çox göstər</button>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- END LISTING LIST -->
@section Scripts
{
<script src="~/js/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#moreProp").click(function () {
            var list = $(".d-none");
            if (list.length > 3) {
                $(".d-none").first().removeClass("d-none");
                $(".d-none").first().removeClass("d-none");
                $(".d-none").first().removeClass("d-none");
            } else {
                list.removeClass("d-none")
                $(this).hide();
            }
           
        });
    });
</script>

}