@model IEnumerable<Category>
@{
    ViewData["Title"] = "Agent Page";
}

<!-- BREADCRUMB -->
<div class="bg-theme-overlay">
    <section class="section__breadcrumb ">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 text-center">
                    <h2 class="text-capitalize text-white ">Agentlər</h2>
                    <ul class="list-inline ">
                        <li class="list-inline-item">
                            <a asp-controller="home" asp-action="index" class="text-white">
                                ana səhifə
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a asp-controller="agent" asp-action="index" class="text-white">
                                agentlər
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- END BREADCRUMB -->
<!-- LISTING LIST -->
<section class="profile__agents">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <!-- FORM FILTER -->
                <div class="products__filter mb-30">
                    <div class="products__filter__group">
                        <div class="products__filter__header">

                            <h5 class="text-center text-capitalize">Agenti tap</h5>
                        </div>
                        <div class="products__filter__body">
                            <div class="form-group">
                                <label>Agent adını daxil et</label>
                                <input type="text" class="form-control" placeholder="Agent adını daxil et">

                            </div>
                            <div class="form-group">
                                <label>Bütün Kateqoriyalar</label>
                                <select class="select_option wide">
                                    <option data-display="Bütün Kateqoriyalar">Bütün Kateqoriyalar</option>

                                    <option>Apartment</option>
                                    <option>Bungalow</option>
                                    <option>Condo</option>
                                    <option>House</option>
                                    <option>Land</option>
                                    <option>Single Family</option>
                                </select>

                            </div>
                            <div class="form-group">
                                <label>Bütün şəhərlər</label>
                                <select class="select_option wide">
                                    <option data-display="Bütün şəhərlər">Bütün şəhərlər</option>
                                    <option>Atlanta</option>
                                    <option>Florida</option>
                                    <option>Los Angeles</option>
                                    <option>Miami</option>
                                    <option>New York</option>
                                    <option>Orlando</option>
                                </select>

                            </div>
                        </div>
                        <div class="products__filter__footer">
                            <div class="form-group mb-0">
                                <button class="btn btn-primary text-capitalize btn-block">
                                    Agentləri axtar <i class="fa fa-search ml-1"></i>
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- END FORM FILTER -->
                <!-- ARCHIVE CATEGORY -->
                <aside class=" wrapper__list__category">
                    <!-- CATEGORY -->
                    <div class="widget widget__archive">
                        <div class="widget__title">
                            <h5 class="text-dark mb-0 text-center">Kateqoriyalar</h5>
                        </div>
                        <vc:category></vc:category>
                    </div>
                    <!-- END CATEGORY -->
                </aside>
                <!-- End ARCHIVE CATEGORY -->
            </div>
            <div class="col-lg-8">
                <div class="row no-gutters">
                    @foreach (var item in Model)
                    {
                        @foreach (var agent in item.Agents)
                        {
                            <div class="col-lg-12 cards mt-0">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <a asp-controller="agent" asp-action="SingleAgent" asp-route-id="@item.Id" asp-route-agentId="@agent.Id" class="profile__agents-avatar">
                                            <img src="~/images/@agent.Photo" alt="" class="img-fluid ">
                                            <div class="total__property-agent">@agent.Properties.Count() Mülk</div>
                                        </a>
                                    </div>
                                    <div class="col-md-6 col-lg-6 my-auto">
                                        <div class="profile__agents-info">
                                            <h5 class="text-capitalize mb-0">
                                                <a href="#" target="_blank">@agent.Name</a>
                                            </h5>
                                            <p class="text-capitalize mb-1">@item.Name agenti</p>

                                            <ul class="list-unstyled mt-2">
                                                <li>
                                                    <a href="#" class="text-capitalize">
                                                        <span>
                                                            <i class="fa fa-building"></i>
                                                            ofis :
                                                        </span> @agent.OfficePhone
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="text-capitalize">
                                                        <span>
                                                            <i class="fa fa-phone"></i>
                                                            mobil :
                                                        </span> @agent.MobilePhone
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="text-capitalize">
                                                        <span>
                                                            <i class="fa fa-fax"></i> fax
                                                            :
                                                        </span> @agent.Fax
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="text-capitalize">
                                                        <span>
                                                            <i class="fa fa-envelope"></i>
                                                            email :
                                                        </span>
                                                        @agent.Email
                                                    </a>
                                                </li>
                                            </ul>
                                            <p class="mb-0 mt-3">
                                                <button class="btn btn-social btn-social-o facebook mr-1">
                                                    <i class="fa fa-facebook-f"></i>
                                                </button>
                                                <button class="btn btn-social btn-social-o twitter mr-1">
                                                    <i class="fa fa-twitter"></i>
                                                </button>

                                                <button class="btn btn-social btn-social-o linkedin mr-1">
                                                    <i class="fa fa-linkedin"></i>
                                                </button>
                                                <button class="btn btn-social btn-social-o instagram mr-1">
                                                    <i class="fa fa-instagram"></i>
                                                </button>

                                                <button class="btn btn-social btn-social-o youtube mr-1">
                                                    <i class="fa fa-youtube"></i>
                                                </button>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>

            </div>
        </div>
    </div>
</section>

<!-- END LISTING LIST -->
